<!DOCTYPE html>
<html>
 <head>
  <title>500 || SimpleIto</title>
  <link rel="stylesheet" href="/css/error-page.css"/>
 </head>
 <body>
  <div id="errorpage">
    <div class="tfans_error">
        <div class="logo"><img src="/img/error.jpg"></div>
        <div class="errortans clearfix">
            <p><b>出错啦！500</b></p>
            <p style="padding-top:10px;">抱歉！服务器出错！</p>
            <p style="padding-top:10px;">请检查链接或更换姿势(:з」∠)</p>
            <p style="padding-top:10px;font-size: 10px">如有需要可联系 simpleito@qq.com</p>
            <div class="bt" ><a href="/blog">回到首页</a></div>
        </div>
    </div>
</div>
 </body>
</html>
